/* Import Theme Styles */
@import './themes/dark.css';
@import './themes/green.css';
@import './themes/starry.css';
@import './themes/sakura.css';
@import './themes/sunset.css';
@import './themes/ocean.css';
@import './themes/mocha.css';
@import './themes/cyberpunk.css';
@import './themes/aurora.css';
@import './themes/holographic.css';
@import './themes/quantum.css';
@import './simple-view.css';

/* Import Component Styles */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/components.css';
@import './styles/statistics.css';
@import './styles/endpoints.css';
@import './styles/modals.css';
@import './styles/interactions.css';
@import './styles/clients.css';
@import './styles/details.css';
@import './styles/monitor.css';
